<div class="grid">
    <div class="tile content">
        <div class="header">
            <img src="https://picsum.photos/250/250" alt="img">
            <div>
                <h2>Celebrite Nom</h2>
                <p>natinalite</p>
            </div>

        </div>
        <p><span>Description: </span>description</p>
        <p><span>Epoque: </span>type</p>
    </div>
    <div class="tile logout">
        <button mat-flat-button color="primary">Logout</button>
    </div>
    <div class="tile sidebar">

    </div>
</div>