<header>
  <nav>
    <a routerLink="/home">
      <h1>GeoMonuments</h1>
    </a>


    <ul>
      <ng-container *ngIf="!authenticated">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Sign Up</a></li>
      </ng-container>
      <ng-container *ngIf="authenticated">
        <li><a routerLink="/logout">Logout</a></li>
        <li><a routerLink="/profile">Mon Compte</a></li>
      </ng-container>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
<app-messages></app-messages>