
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

a {
    text-decoration: none;
}

.mat-list-item {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 10px;
}

span {
    color: #c4c4c4;
    font-weight: 600;
}

.container {
    width: 70%;
    margin: 50px auto;
}