<div class="grid">
    <div class="tile content">
        <div class="header">
            <img src="https://picsum.photos/250/250" alt="img">
            <div>
                <h2>Ville</h2>
                <p>code</p>
                <p>description</p>

            </div>

        </div>
        <p><span>Description: </span>description</p>
        <p><span>Type: </span>type</p>
        <p><span>Proprietaire: </span>proprietaire</p>
        <p><span>Celebrité:</span>Celeb</p>
    </div>
    <div class="tile logout">
        <button mat-flat-button color="primary">Logout</button>
    </div>
    <div class="tile sidebar">

    </div>
</div>