.mat-grid-tile {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.container h1 {
    font-size: 3em;
    color: purple;
    margin-top: 10px;
    margin-bottom: 50px;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 100px;
}


.text {
    font-size: 3em;
    color: #c4c4c4;
    font-weight: 400;
}