.container {
    width: 80%;
    margin: auto;
}

.mat-card {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.mat-card form {
    display: flex;
    flex-direction: column;
}

.mat-card form button {
    width: 30%;
    margin: auto;
}